@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Roboto";
  scroll-behavior: smooth;
}

:root {
  --color-primary: theme('colors.pink.500');
  /* Light mode -> pink */
}

.dark {
  --color-primary: theme('colors.blue.500');
  /* Dark mode -> blue */
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(0, 62, 196), rgb(184, 0, 153));
}